canvas {
  height: 400px;
  width: 400px;
  float: left;
}
body {
  float: left;
}
#turn {
  /* float: left; */
  font-size: 20px;
}
#black {
  /* float: left; */
  font-size: 20px;
}
#white {
  /* float: left; */
  font-size: 20px;
}
#end {
  /* float: left; */
  font-size: 20px;
}
#info {
  /* float: left; */
  font-size: 20px;
}
